# Android Studio stuff
local.properties
.idea/
*.iml

# Eclipse stuff
.classpath
.project
.settings/
bin/
gen/

# Gradle stuff
.gradle/

# Compiled files
build/
*.apk

# Signing stuff
signing.properties

# Miscellaneous
*.swp
